.changepassword-outer {
    display: flex;
    height: 100vh;
}

.changepassword-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.changepassword-container h1 {
    color: rgb(255, 204, 0);
}

.changepassword-container form {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(255, 204, 0);
}

.changepassword-container form input {
    border-radius: 20px;
    border: 1px solid rgb(255, 204, 0);

}

.changepassword-container form div {
    flex-direction: column;
    display: flex;
}

.changepassword-container label {
    color: rgb(255, 204, 0);
    font-size: 18px;
    padding-top: 10px;
}

.changepassword-container form input:focus {
    outline: none;
    border: 2px solid gray;
}

.changepassword-container form button {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 204, 0);

    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid rgb(255, 204, 0);
    width: fit-content;
}

.changepassword-container form button:hover {
    background-color: rgb(255, 204, 0);
    color: black;
    transition: all 2s;
}

@media (max-width: 900px) {
    .changepassword-container form {
        width: 95%;
    }
}