.userprofile-outer {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

.userprofile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userprofile-container h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 204, 0);
    margin-bottom: 1rem;
}

.userprofile-container form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.userprofile-container form .form-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userprofile-container form .form-div div,
.userprofile-container form .form-div1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 10px;
}

.userprofile-container label {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 204, 0);
}

.userprofile-container input,
.userprofile-container select,
.userprofile-container textarea {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(255, 204, 0);
    padding: 0 10px;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: none;
}

.userprofile-container form button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(255, 204, 0);
    padding: 0 10px;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: none;
    background-color: rgb(255, 204, 0);
}


@media (max-width:1000px) {
    .userprofile-container form .form-div {
        flex-direction: column;
    }

    .userprofile-container h1 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(255, 204, 0);
        margin-bottom: 1rem;
    }

}