.leaderboard-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
}



.searchbar {
    width: 500px;
    background-color: white;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}